/* Add a black background color to the top navigation */
.topnav {
    background-color: #4c40d2;
    overflow: hidden;
    height: 53.5px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav-right a:hover,.topnav-left a:hover {
  background-color: #968cff;
  color: rgb(0, 0, 0);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f3d31a;
  color: white;
}

.topnav-left{
  float: left;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav-center{
  display: inline-block;
  text-align: center;
  margin-left: 210px;
}

.topnav-center a{
  margin-top: -3px;
}

.topnav-center a.centro:hover{
  opacity: 0.85;
  cursor: pointer;
}

.topnav-center a h4.logo{
  color: rgb(242, 197, 17);
  float: left;
  font-size: 46px;
  margin-top: -14px;
  font-weight: bold;
}

.topnav-center a h4.logo2{
  color: rgb(184, 30, 30);
  float: right;
  font-size: 46px;
  margin-left: 6px;
  margin-top: -14px;
  font-weight: bold;
}
