@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: linear-gradient(245.59deg, #485fb9 0%, #1e3386 28.53%, #12215b 75.52%);
	font-family: "Roboto", sans-serif;
}


.bg{
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    border-radius: 20px;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

#aggiorna{
    background-color: rgb(255, 216, 44); 
    color: white;
    transition: 0.5s;
}

#aggiorna:hover{
    background-color: rgb(238, 152, 40);
    transform: translateX(4px);
    transition: 0.5s;
}

#aggiorna:disabled{
    background-color: rgb(255, 230, 120); 
}

#aggiorna2:disabled{
    background-color: rgb(255, 230, 120); 
}

#aggiorna3:disabled{
    background-color: rgb(255, 230, 120); 
}

#aggiorna4:disabled{
    background-color: rgb(255, 230, 120); 
}

#aggiorna5:disabled{
    background-color: rgb(255, 230, 120); 
}

#aggiorna2{
    background-color: rgb(255, 216, 44); 
    color: white;
    transition: 0.5s;
}

#aggiorna2:hover{
    background-color: rgb(238, 152, 40);
    transform: translateX(4px);
    transition: 0.5s;
}

#aggiorna3{
    background-color: rgb(255, 216, 44); 
    color: white;
    transition: 0.5s;
}

#aggiorna3:hover{
    background-color: rgb(238, 152, 40);
    transform: translateX(4px);
    transition: 0.5s;
}

#aggiorna4{
    background-color: rgb(255, 216, 44); 
    color: white;
    transition: 0.5s;
}

#aggiorna4:hover{
    background-color: rgb(238, 152, 40);
    transform: translateX(4px);
    transition: 0.5s;
}
#aggiorna5{
    background-color: rgb(255, 216, 44); 
    color: white;
    transition: 0.5s;
}

#aggiorna5:hover{
    background-color: rgb(238, 152, 40);
    transform: translateX(4px);
    transition: 0.5s;
}

#conferma{
    background-color: rgb(213, 18, 18); 
    color: white;
    transition: 0.5s;
}

#conferma:hover{
    background-color: rgb(176, 14, 14);
    transform: translateX(4px);
    transition: 0.5s;
}

#conferma2{
    background-color: rgb(213, 18, 18); 
    color: white;
    transition: 0.5s;
}

#conferma2:hover{
    background-color: rgb(176, 14, 14);
    transform: translateX(4px);
    transition: 0.5s;
}

#conferma3{
    background-color: rgb(213, 18, 18); 
    color: white;
    transition: 0.5s;
}

#conferma3:hover{
    background-color: rgb(176, 14, 14);
    transform: translateX(4px);
    transition: 0.5s;
}
#conferma4{
    background-color: rgb(213, 18, 18); 
    color: white;
    transition: 0.5s;
}

#conferma4:hover{
    background-color: rgb(176, 14, 14);
    transform: translateX(4px);
    transition: 0.5s;
}
#conferma5{
    background-color: rgb(213, 18, 18); 
    color: white;
    transition: 0.5s;
}

#conferma5:hover{
    background-color: rgb(176, 14, 14);
    transform: translateX(4px);
    transition: 0.5s;
}
.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

footer {
    padding: 63px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(245.59deg, #e4e4e4 0%, #ffffff 28.53%, #e4e4e4 75.52%);
  }
  
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
footer ul li {
    margin-bottom: 10px;
  }
  
footer ul li a {
    color: #1e3386;
    text-decoration: none;
  }
  
footer ul li a:hover {
    color: #162975;
  }
  
footer form {
    margin-top: 20px;
  }
  
@media (max-width: 767px) {
    footer h4 {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  
.list-unstyled-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px; 
  }
  
.list-unstyled li {
    margin: 10px 0;
    color: #1e3386;
  }
  
.titleFooter{
    text-align: center;
    color: #1e3386;
  }

.animato:hover{
    -webkit-animation: tada 1s;
    animation: tada 1s;
} 

.navbar{
  background: linear-gradient(245.59deg, #e4e4e4 0%, #ffffff 28.53%, #e4e4e4 75.52%);
}

.navbar-brand{
  width: 140px;
}

.navbar .nav-link {
  color: rgb(255, 216, 44)  !important;
}

.navbar .nav-link:hover {
  color: rgb(232, 189, 0) !important;
}

#notification-tab{
    border-radius: 0px 0px 0px 20px; 
}