/*body {
    background-image: url(../sources/1.png);
}
*/
.WebContainer {
    width: 100%;
    height: auto;
}

.articles {
    width: 90%;
    /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}

.contenitore1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#titolo {
    margin-left: -13px;
}


.form-box {
    width: 90%;
    max-width: 350px;
    background: #fff;
    padding: 0px 60px 20px;
    text-align: center;
    border-radius: 30px;
    background: rgba(247, 247, 247, 0.9);
    /*USIAMO I VALORI RGB PER NON INTACCARE GLI ELEMENTI FIGLIO DI FORM-BOX*/
    backdrop-filter: blur(5px);

}

.form-box h1 {
    font-size: 60px;
    color: rgb(255, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.input-field {
    background: #eaeaea;
    Margin: 15px 0;
    Border-radius: 20px;
    Display: flex;

}

input:focus {
    outline: none;
}

Input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 18px 15px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}


.btn-field button {
    width: 30%;
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}