body {
    background-image: url(../Sources/Sfondo_sign.png);
}

.WebContainer {
    width: 100%;
    height: auto;
}

.articles {
    width: 90%;
    /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}

.contenitore1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

#titolo {
    margin-left: -13px;
}


.form-box {
    width: 90%;
    max-width: 350px;
    background: #fff;
    padding: 0px 60px 20px;
    text-align: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.374);
    /*USIAMO I VALORI RGB PER NON INTACCARE GLI ELEMENTI FIGLIO DI FORM-BOX*/
    backdrop-filter: blur(8px);

}

.form-box h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #485fb9;
    background-image: linear-gradient(-180deg, #485fb9 0%, #1e3386 28.53%, #12215b 75.52%);
    background-size: 150%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.input-field {
    background: #eaeaea;
    Margin: 15px 0;
    Border-radius: 20px;
    Display: flex;
    align-items: center;

}


Input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}

input:focus+label {
    font-size: .75em;
    margin-top: -30px;
    transition: 0.1s;
    pointer-events: none;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

.input-field label {
    margin-left: -363px;
    margin-top: 2px;
    left: 0;
    font-size: 1em;
    color: #696982;
    pointer-events: none;
    transition: 0.5s;
}





.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}


.btn-field button {
    width: 30%;
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/*SUCCESSO SIGNUP NON FUNZIONANTE ????*/
.titolo_signup-success h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    color: red;
}