@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Teko&display=swap');


/*BODY E HEADER*/
body{
    background: linear-gradient(-90deg, #485fb9 0%, #1e3386 28.53%, #12215b 75.52%);
}

.animato:hover{
    -webkit-animation: tada 1s;
    animation: tada 1s;
} 

.navbar{
  background: linear-gradient(245.59deg, #e4e4e4 0%, #ffffff 28.53%, #e4e4e4 75.52%);
  animation: fadeIn;
  animation-duration: 3s;
}

.navbar-brand{
  width: 140px;
}

.navbar .nav-link {
  color: #1e3386  !important;
}

.navbar .nav-link:hover {
  color: #0a1955 !important;
}

/*CONTAINER CREA UNISCITI*/

.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 300px);
    row-gap: 5%;
    height: 100vh;
    margin-top: 5%;
}

.codice{
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2%;
    animation: backInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

.crea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.attesa{
    display:none;
}

.container h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    color:#0a1955;
}

.form{
    margin-top: 20px;
    text-align: center;
}

input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px; background-color: transparent; }

:focus{outline: none;}

.cod{border: 0; padding: 7px 0; border-bottom: 1px solid #0a1955;}

.container .btn{
    margin-top: 8%;
}

.container .btn:hover{
    transform: translateX(4px);
    transition: 0.5s ease-in-out;
}

.unisciti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: vh;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.attesa{
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
} 

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #0a1955; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*CONTAINER STANZE E CLASSIFICA */

.stanze{
    grid-row-start: 2;
    grid-row-end: 4;
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    border-radius: 20px 6px 6px 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    animation: backInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    display: grid; /*andrà messo none */
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
}

.cont-sx{
    grid-column-start: 1;
    grid-column-end: 3;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}

.cont-sx::-webkit-scrollbar {
    width: 8px;
    border-radius: 2px;
    display: none;
}

.cont-dx{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    overflow-y: auto; 
}

.cont-dx::-webkit-scrollbar {
    width: 8px;
    border-radius: 2px;
    display: none;
} 

.list-group{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-group-item{
    height: 10vh;
}

.gioc{
    margin-left: 42px;
    margin-bottom: 0;
    font-size: 15px
}

.stanze i .fa-house{
    width: 100%;
}

.fw-bold{
    font-size: 25px;
}

.stanze .btn{
    margin-top: 4.5%;
    margin-right: 2%;
}


/*CLASSIFICA */
#header {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 0.5rem 0.2rem;
}


#header h1 {
font-family: 'Oswald', sans-serif;
font-size: 1.7rem;
color: #0a1955;
text-transform: uppercase;
cursor: default;
margin-left: 2%;
margin-top: 2%;
margin-bottom: -1%;
}

#leaderboard {
width: 100%;
position: relative;
margin-top: 3%;
}

table {
width: 100%;
border-collapse: collapse;
table-layout: fixed;
color: #141a39;
cursor: default;
}

tr {
transition: all 0.2s ease-in-out;
}

tr:not(:first-child):hover {
background-color: #fff;
transform: scale(105%);
-webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
background-color: #f9f9f9;
}

tr:nth-child(1) {
color: #fff;
}

td {
height: 100%;
font-family: "Rubik", sans-serif;
font-size: 1.4rem;
padding: 1.37rem 2rem;
position: relative;
}

.number {
width: 1rem;
font-size: 2.2rem;
font-weight: bold;
text-align: left;
}

.name {
text-align: left;
font-size: 1.2rem;
}

.points {
font-weight: bold;
font-size: 1.3rem;
display: flex;
justify-content: flex-end;
align-items: center;
}

.points:first-child {
width: 10rem;
}

.gold-medal {
height: 3rem;
margin-left: 1.5rem;
}

.ribbon {
width: 102%;
height: 16%;
background-color: #0a1955;
position: absolute;
-webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
box-shadow: 0px 15px 11px -6px #7a7a7d;
border-radius: 10px 10px 0px 10px;
}

.ribbon::after {
content: "";
height: 1.5rem;
width: 1.5rem;
bottom: -0.8rem;
right: 0.35rem;
transform: rotate(45deg);
background-color: #5c5be5;
position: absolute;
z-index: -1;
}


@media (max-width: 740px) {
    * {
    font-size: 70%;
    }
}

@media (max-width: 500px) {
    * {
    font-size: 55%;
    }
}

@media (max-width: 390px) {
    * {
    font-size: 45%;
    }
}

/*GIOCO */

.griglia{
    display: none;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
}

.row1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row1 h1{
    font-size: 110px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 7px;
    color: white;
    margin: 0%;
    margin-top: 5%;
    transition: 0.5s;
}

.row1 h2{
    font-family: 'Bree Serif', serif;
    color: whitesmoke;
}

.col1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#colore{
    color: red;
}

#colore2{
    color: yellow;
}

.player1c{
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    width: 80%;
    height: 25vh;
    margin-left: 10%;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    animation: float 5s ease-in-out infinite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60% 40%;
}

.pedinar{
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    left: 34%;
    margin-top: 5%;
}

.scritta{
    color: rgb(173, 27, 27);
    text-align: center;
}

.scritta h2{
    margin-top: -5%;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    letter-spacing: 3px;
}
.col2{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col3{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player2{
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    width: 80%;
    height: 25vh;
    margin-left: 7%;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    animation: float 5s ease-in-out infinite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60% 40%;
}

.pedinag{
    grid-row-start: 1;
    grid-row-end: 2;
    width: 82%;
    margin-top: 5%;
    position: relative;
    right: -34%;
}


.scritta2{
    color: rgb(255, 179, 0);
    text-align: center;
}

.scritta2 h2{
    margin-top: -5%;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    letter-spacing: 3px;
}

#turno2{
    visibility: hidden;
}

.row2{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 13vh;
    position: relative;
    left: 38%;
}

.row2 .btn{
    margin-left: 3%;
}

#nuovo{
    background-color: rgb(173, 27, 27);
    color: white;
    margin-top: 10%;
    transition: 0.5s;
}

#nuovo:hover{
    background-color: rgb(207, 26, 26);
    transform: translateX(-4px);
    transition: 0.5s;
}

#nuovo2{
    background-color: rgb(255, 179, 0);
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

#nuovo2 a{
    text-decoration: none;
    color: white;
}

#nuovo2:hover{
    background-color: rgb(255, 210, 29);
    transform: translateX(4px);
    transition: 0.5s;
}

#nuovo3{
    background-color: rgb(0, 140, 255);
    color: white;
    margin-top: 10%;
    transition: 0.5s;
    text-decoration: none;
}

#nuovo3:hover{
    background-color: rgb(0, 179, 255);
    transform: translateX(-4px);
    transition: 0.5s;
    -webkit-box-shadow: 1px 1px 18px 8px #88cdffa7;
    box-shadow: 1px 1px 18px 8px #88cdffa7;
}


@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}

#board {
    height: 540px;
    width: 61%;
    background: linear-gradient(245.59deg, #2843ac 0%, #485fb9 28.53%, #2843ac 75.52%);
    border: 10px solid navy;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}


