
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Teko&display=swap');


body {
    background: linear-gradient(-220deg, #cdcdcd 0%, #ffffff 28.53%, #cdcdcd 75.52%);
    background-image: url(../Multiplayer/client/back.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.042);
    height: 97.3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.griglia{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
}

.row1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row1 h1{
    font-size: 105px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 7px;
    color: rgb(0, 0, 0);
    margin: 0%;
    margin-top: 5%;
    transition: 0.5s;
}

.row1 h2{
    font-family: 'Bree Serif', serif;
    color: rgb(0, 0, 0);
}


.col1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#colore{
    color: red;
}

#colore2{
    color: yellow;
}

.player1c{
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    width: 80%;
    height: 25vh;
    margin-left: 10%;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    animation: float 5s ease-in-out infinite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60% 40%;
}

.pedinar{
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 5%;
}

.scritta{
    color: rgb(173, 27, 27);
}

.scritta h2{
    margin-top: -5%;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    letter-spacing: 3px;
}

.col2{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col3{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player2{
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    width: 80%;
    height: 25vh;
    margin-left: 7%;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    animation: float 5s ease-in-out infinite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60% 40%;
}

.pedinag{
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 5%;
}


.scritta2{
    color: rgb(255, 179, 0);
}

.scritta2 h2{
    margin-top: -5%;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    letter-spacing: 3px;
}

#turno2{
    visibility: hidden;
}

.row2{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 13vh;
    margin-top: -10%;
}

.row2 .btn{
    margin-left: 2%;
}

#nuovo{
    background-color: rgb(173, 27, 27);
    color: white;
    margin-top: 10%;
    transition: 0.5s;
}

#nuovo:hover{
    background-color: rgb(207, 26, 26);
    transform: translateX(-4px);
    transition: 0.5s;
}

#nuovo2{
    background-color: rgb(255, 179, 0);
    color: white;
    margin-top: 10%;
    transition: 0.5s;
    text-decoration: none;
}

#nuovo2 a{
    text-decoration: none;
    color: white;
}

#nuovo2:hover{
    background-color: rgb(255, 210, 29);
    transform: translateX(4px);
    transition: 0.5s;
}

#nuovo3{
    background-color: rgb(0, 140, 255);
    color: white;
    margin-top: 10%;
    transition: 0.5s;
    text-decoration: none;
}

#nuovo3:hover{
    background-color: rgb(0, 179, 255);
    transform: translateX(-4px);
    transition: 0.5s;
    -webkit-box-shadow: 1px 1px 18px 8px #88cdffa7;
    box-shadow: 1px 1px 18px 8px #88cdffa7;
}

.contimer{
    position: relative;
    bottom: -17vh;
    width: 70%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background: linear-gradient(245.59deg, #f8f8f8 0%, #ffffff 28.53%, #f8f8f8 75.52%);
    color: #1e3386;
    border-radius: 40px;
    margin-left: 15%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}




@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#board {
    height: 540px;
    width: 61%;
    background: linear-gradient(245.59deg, #2843ac 0%, #485fb9 28.53%, #2843ac 75.52%);
    border: 10px solid navy;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}
